<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>

  <body>
    <input type="checkbox" id="active" />
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
     <div class="wrapper">
    <ul>
        <li><a href="/">WhoAmI</a></li>
        <li><a href="/certificates/">Certificates</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a href="/hack/">H4CK{}</a></li>
      </ul>
    </div>
    <div class="content">
      <div class="title">
        Certificates
      </div>
      <p class="cleft">
        <a href="#">[2020-2021] GameDeveloper at jusoor</a><br>
      </p>
    </div>
    <div class="views">
      <p><i class="far fa-eye"></i> {{ views }}</p>
    </div>
  </body>
</html>
