{% extends 'base.html' %}
{% block content%}
    <div class="content">
      <div class="title">
        CONTACT / MEDIA
      </div> 
      <p>
        <a href="#discord" onclick="alert('Square#4004')"><i class="fab fa-discord"></i></a>&nbsp;&nbsp;
        <a href="https://fatsquar3.itch.io/" target="_blank"><i class="fab fa-itch-io"></i></a>&nbsp;&nbsp;
        <a href="https://github.com/FatSquare" target="_blank"><i class="fab fa-github"></i></a>&nbsp;&nbsp;
        <a href="#" onclick="alert('Soon!')"><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;
        <a href="mailto:squar3dev@gmail.com"><i class="far fa-envelope-open"></i></a>
      </p>
    </div>
{% endblock %}