<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fontawesome.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>

  <body>
    <input type="checkbox" id="active" />
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
     <div class="wrapper">
    <ul>
        <li><a href="/">WhoAmI</a></li>
        <li><a href="/certificates/">Certeficates</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a href="/hack/">H4CK{}</a></li>
      </ul>
    </div>
    <div class="content">
      <div class="title">
        CONTACT / MEDIA
      </div>
      <p>
        <a href="#discord" onclick="alert('Square#4004')"><i class="fab fa-discord"></i></a>&nbsp;&nbsp;
        <a href="https://fatsquar3.itch.io/" target="_blank"><i class="fab fa-itch-io"></i></a>&nbsp;&nbsp;
        <a href="https://github.com/FatSquare" target="_blank"><i class="fab fa-github"></i></a>&nbsp;&nbsp;
        <a href="#" onclick="alert('Soon!')"><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;
        <a href="mailto:squar3dev@gmail.com"><i class="far fa-envelope-open"></i></a>
      </p>
    </div>
    <div class="views">
      <p><i class="far fa-eye"></i> {{ views }}</p>
    </div>
  </body>
</html>
