{% extends 'base.html' %}
{% block content%}
<div class="content">
  <div class="title" style="margin-top: 10%;">
    Who Am I ?
  </div>
  <p>
    Hello I am Squar3, A cyber security student<br>
    I like to make webapps and play ctfs.
  </p>
  <br>
  <div class="title">
    Experiences
  </div>
  <p class="cleft">
    - Web developer (html, css, js, php, sql, python)<br>
    - Pentester (AppSec)<br>
    - Game developer (Unity,C#)<br>
    - Software developer <br>
    - CTF player
  </p>
</div>
{% endblock %}
