{% extends 'base.html' %}
{% block content%}
<div class="content">
  <div class="title" style="margin-top: 10%;">
    Who Am I ?
  </div>
  <p>
    Hello I am Squar3<br>
    High school student that like to mess around <br>
    I like to make webapps and play ctfs.
  </p>
  <br>
  <div class="title">
     Cool stuffs I guess??
  </div>
  <p class="cleft">
    - Currently learning Rust<br>
    - BackEnd web developer <br>
    - Game developer (Unity,C#)<br>
    - CTF player
  </p>
</div>
{% endblock %}
