{% extends 'base.html' %}
{% block content%}
<div class="content-m" style="margin-top: 50px;">
  <br><br><br><br>
  <div>
     <a href="" style="text-decoration: none;" class="title2">Securinets Friendly CTF 2021</a>
  </div>
  <br>
  <div class='ctf-tasks' style="text-align: left; margin: 0px 0px 0px 10%;">
    <p>Tasks</p><br><br>
    <a href='#loose-comparaison'>Loose comparaison <score style="color: rgb(0, 255, 55);">[100]</score></a> <br>
    <a href='#obfuscated-js'>Obfuscated JS <score style="color: rgb(0, 255, 55);">[100]</score></a> <br>
    <a href='#sqli-1'>SQLI 1 <score style="color: rgb(0, 255, 55);">[100]</score></a> <br>
    <a href='#sqli-2'>SQLI 2 <score style="color: rgb(218, 122, 32);">[711]</score></a> <br>
    <a href='#eval'>Eval <score style="color: rgb(0, 255, 55);">[471]</score></a> <br>
    <a href='#ssrf'>SSRF <score style="color: rgb(218, 122, 32);">[775]</score></a> <br>
    <a href='#easy-xss'>easy XSS <score style="color: rgb(218, 91, 32);">[964]</sco></a> <br><br><br> 
    
    <p>Writeups</p><br><br>
    
    <a id="loose-comparaison" href='#loose-comparaison' class="task">Loose comparaison <score style="color: rgb(0, 255, 55);">[100]</score></a> <br><br>


    <a id="obfuscated-js" href='#obfuscated-js' class="task">Obfuscated JS <score style="color: rgb(0, 255, 55);">[100]</score></a> <br><br>


    <a id="sqli-1" href='#sqli-1' class="task">SQLI 1 <score style="color: rgb(0, 255, 55);">[100]</score></a> <br><br>


    <a id="sqli-2" href='#sqli-2' class="task">SQLI 2 <score style="color: rgb(218, 122, 32);">[711]</score></a> <br><br>


    <a id="eval" href='#eval' class="task">Eval <score style="color: rgb(0, 255, 55);">[471]</score></a> <br><br>


    <a id="ssrf" href='#ssrf' class="task">SSRF <score style="color: rgb(218, 122, 32);">[775]</score></a> <br><br>


    <a id="xss" href='#easy-xss' class="task">easy XSS <score style="color: rgb(218, 91, 32);">[964]</sco></a> <br><br>

      
  </div>
  
  <br>
</div>
{% endblock %}
